.contacts {
  position: relative;

  &--grey {
    background-color: $basic-grey;
  }
  &__image {
    width: 100%;
  }

  &__heading {
    font-family: $header-font;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111;

    @media (min-width: $tablet-width) {
      width: 171px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__address {
    line-height: 20px;
    color: $dark-grey;

    @media (min-width: $tablet-width) {
      width: 159px;

      font-size: 16px;
      line-height: 20px;
    }
  }
}

.heading-wrapper {
  padding: 25px 20px;
  display: flex;

  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 59px 40px;
    margin-bottom: 0;
  }

  @media (min-width: $deskpot-width) {
    position: absolute;
    top: 0;
    left: -60%;
    right: 0;
    bottom: 0;
    margin: auto;

    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 565px;
    height: 200px;

    padding: 0;

    background-color: $white;
  }
}
